<a href="https://colab.research.google.com/github/mohammadAAAAAAA/test/blob/main/Frequent_patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules


# Changing the working location to the location of the file
# %cd /content/Online Retail.xlsx Algorithm

# Loading the Data
data = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Online Retail.xlsx')
data.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [ ]:
data.count()

InvoiceNo      541909
StockCode      541909
Description    540455
Quantity       541909
InvoiceDate    541909
UnitPrice      541909
CustomerID     406829
Country        541909
dtype: int64

In [ ]:
# Exploring the columns of the data
data.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [ ]:
# Exploring the different regions of transactions
data.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [ ]:
# در ستون توضیحات، فضای خالی را پاک میکند
data['Description'] = data['Description'].str.strip()
 
# حذف سطرهای بدون شماره فاکتور
data.dropna(axis = 0, subset =['InvoiceNo'], inplace = True)

# حذف مقادیر منفی در ستون تعداد
data = data[data['Quantity'] >= 0]

# تغییر نوع ستون شماره فاکتور به رشته
data['InvoiceNo'] = data['InvoiceNo'].astype('str')
 
# Dropping all transactions which were done on credit
data = data[~data['InvoiceNo'].str.contains('C')]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [ ]:
# data[data['Country'] =="France"]
# فقط سطرهایی که در ستون کشور آنها کلمه فرانسه وجود دارد
# .groupby(['InvoiceNo', 'Description'])
# ابتدا براساس شماره فارکتور، نام های مرتبط به هر شماره فاکتور را در یک گروه قرار می دهد (گروه بندی براساس شماره فارکتور)
# ['Quantity'].sum()
# مقدار مربوط به ستون تعداد را برای هر گروه جمع میکند
# در اینجا، چون براساس 2 چیز گروه بندی شده، پس مقادیر تکراری ستون توضیحات در هر گروه را پیدا کرده و ستون تعداد آنها را با هم جمع میکند
# .unstack()
# هرکدام از مقادیر ستون توضیحات را تبدیل به یک ستون میکند
# 
# .fillna(0)
# مقادیر تهی را با صفر پر می کند
# .reset_index()
# دوباره به سطرها اندیس می دهد
# .set_index('InvoiceNo')
# از مقادیر ستون شماره فاکتور برای اندیس استفاده میکند

In [ ]:
# Transactions done in France
basket_France = (data[data['Country'] =="France"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))
 
# Transactions done in the United Kingdom
basket_UK = (data[data['Country'] =="United Kingdom"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))
 
# Transactions done in Portugal
basket_Por = (data[data['Country'] =="Portugal"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))

In [ ]:
basket_France

Description  10 COLOUR SPACEBOY PEN  ...  ZINC T-LIGHT HOLDER STARS SMALL
InvoiceNo                            ...
536370                          0.0  ...                              0.0
536852                          0.0  ...                              0.0
536974                          0.0  ...                              0.0
537065                          0.0  ...                              0.0
537463                          0.0  ...                              0.0
...                             ...  ...                              ...
580986                          0.0  ...                              0.0
581001                          0.0  ...                              0.0
581171                          0.0  ...                              0.0
581279                          0.0  ...                              0.0
581587                          0.0  ...                              0.0

[392 rows x 1563 columns]

Warning: Total number of columns (1563) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
# مقادیر بزرگتر از 1 را تبدیل به یک و مقادیر کمتر از 0 را تبدیل به صفر میکند
# Defining the hot encoding function to make the data suitable
# for the concerned libraries
def hot_encode(x):
    if(x<= 0):
        return 0
    if(x>= 1):
        return 1
 
# Encoding the datasets
basket_encoded = basket_France.applymap(hot_encode)
basket_France = basket_encoded
 
basket_encoded = basket_UK.applymap(hot_encode)
basket_UK = basket_encoded
 
basket_encoded = basket_Por.applymap(hot_encode)
basket_Por = basket_encoded

In [ ]:
# Building the model
frq_items = apriori(basket_France, min_support = 0.05, use_colnames = True)
 
# Collecting the inferred rules in a dataframe
# lift >= 1
rules = association_rules(frq_items, metric ="lift", min_threshold = 1)
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
print(rules.head())

                                           antecedents  ... conviction
44                        (JUMBO BAG WOODLAND ANIMALS)  ...        inf
259  (RED TOADSTOOL LED NIGHT LIGHT, PLASTERS IN TI...  ...        inf
270  (PLASTERS IN TIN WOODLAND ANIMALS, RED TOADSTO...  ...        inf
301  (SET/6 RED SPOTTY PAPER CUPS, SET/20 RED RETRO...  ...  34.897959
302  (SET/6 RED SPOTTY PAPER PLATES, SET/20 RED RET...  ...  34.489796

[5 rows x 9 columns]

In [ ]:
frq_items

      support                                           itemsets
0    0.071429                      (4 TRADITIONAL SPINNING TOPS)
1    0.096939                       (ALARM CLOCK BAKELIKE GREEN)
2    0.102041                        (ALARM CLOCK BAKELIKE PINK)
3    0.094388                         (ALARM CLOCK BAKELIKE RED)
4    0.068878                       (ASSORTED COLOUR MINI CASES)
..        ...                                                ...
190  0.102041  (SET/6 RED SPOTTY PAPER CUPS, POSTAGE, SET/6 R...
191  0.099490  (SET/6 RED SPOTTY PAPER CUPS, SET/6 RED SPOTTY...
192  0.056122  (ALARM CLOCK BAKELIKE RED, ALARM CLOCK BAKELIK...
193  0.053571  (PLASTERS IN TIN WOODLAND ANIMALS, PLASTERS IN...
194  0.081633  (SET/6 RED SPOTTY PAPER CUPS, POSTAGE, SET/6 R...

[195 rows x 2 columns]

In [ ]:
rules

                                           antecedents  ... conviction
44                        (JUMBO BAG WOODLAND ANIMALS)  ...        inf
259  (RED TOADSTOOL LED NIGHT LIGHT, PLASTERS IN TI...  ...        inf
270  (PLASTERS IN TIN WOODLAND ANIMALS, RED TOADSTO...  ...        inf
301  (SET/6 RED SPOTTY PAPER CUPS, SET/20 RED RETRO...  ...  34.897959
302  (SET/6 RED SPOTTY PAPER PLATES, SET/20 RED RET...  ...  34.489796
..                                                 ...  ...        ...
36                                           (POSTAGE)  ...   1.014031
26                                           (POSTAGE)  ...   1.011297
96                                           (POSTAGE)  ...   1.011297
226                                          (POSTAGE)  ...   1.011297
215                                          (POSTAGE)  ...   1.003098

[348 rows x 9 columns]

In [ ]:
# Building the model
frq_items = apriori(basket_UK, min_support = 0.01, use_colnames = True)
# Collecting the inferred rules in a dataframe
# lift >= 1
rules = association_rules(frq_items, metric ="lift", min_threshold = 1)
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])

استفاده از
pyECLAT

In [ ]:
!pip install pyECLAT

In [ ]:
basket_France

In [ ]:
# تبدیل سبد کشور فرانسه به یک لیست
columns = basket_France.columns
list_France = basket_France.values.tolist()

In [ ]:
# نام کالاها را به جای مقادیر ستون ها قرار میدهیم و در لیست 1 ذخیره میکنیم
list_1 = []
list_2 = []
for i in range(0,len(list_France)):
  list_2.clear()
  for j in range(0,len(list_France[i])):
    if list_France[i][j] == 1:
      list_2.append(columns[j])
  list_1.append(list_2)

In [ ]:
# تبدیل لیست جدید به داده قابل استفاده
data_2 = pd.DataFrame(data=list_1)

In [ ]:
# حداقل تعداد کالاها
min_n_product = 10

# مقدار 
# min support
# بصورت درصد
# 10%
min_support = 10/len(list_1)

# حداکثر طول قوانین
max_length = max([len(x) for x in list_1])

In [ ]:
max_length

15

In [ ]:
from pyECLAT import ECLAT

# create an instance
eclat_instance = ECLAT(data=data_2, verbose=True)

# fit the algorithm
rule_indices, rule_supports = eclat_instance.fit(min_support=min_support,
                                                 min_combination=min_n_product,
                                                 max_combination=max_length)

100%|██████████| 15/15 [00:00<00:00, 150.66it/s]
100%|██████████| 15/15 [00:00<00:00, 3288.10it/s]
100%|██████████| 15/15 [00:00<00:00, 1911.31it/s]

Combination 10 by 10

3003it [00:52, 56.74it/s]

Combination 11 by 11

1365it [00:25, 53.36it/s]

Combination 12 by 12

455it [00:08, 50.95it/s]

Combination 13 by 13

105it [00:02, 47.65it/s]

Combination 14 by 14

15it [00:00, 44.66it/s]

Combination 15 by 15

1it [00:00, 38.32it/s]

In [ ]:
rule_supports

In [ ]:
rule_indices

In [ ]:
# generate a binary dataframe that can be used for other analysis
table = eclat_instance.df_bin
table